<div class="countdown-container" data-aos="fade-up" data-aos-delay="300">
  <div class="countdown-header">
    <p *ngIf="!isBirthdayToday" class="countdown-subtitle">Time until you enter the late twenties! 💄</p>
    <p *ngIf="isBirthdayToday" class="birthday-message">🎉 Riyan's 26th Birthday is HERE! 🎉</p>
  </div>
  
  <div class="countdown-display" *ngIf="!isBirthdayToday">
    <div class="time-unit">
      <div class="time-number">{{ days.toString().padStart(2, '0') }}</div>
      <div class="time-label">Days</div>
    </div>
    
    <div class="time-separator">:</div>
    
    <div class="time-unit">
      <div class="time-number">{{ hours.toString().padStart(2, '0') }}</div>
      <div class="time-label">Hours</div>
    </div>
    
    <div class="time-separator">:</div>
    
    <div class="time-unit">
      <div class="time-number">{{ minutes.toString().padStart(2, '0') }}</div>
      <div class="time-label">Minutes</div>
    </div>
    
    <div class="time-separator">:</div>
    
    <div class="time-unit">
      <div class="time-number">{{ seconds.toString().padStart(2, '0') }}</div>
      <div class="time-label">Seconds</div>
    </div>
  </div>
  
  <div class="birthday-celebration" *ngIf="isBirthdayToday">
    <div class="celebration-text">
      <h3>🎈 Happy 26th Birthday, Riyan! 🎈</h3>
      <p>Time to celebrate our amazing flower-loving, food-cooking, MBA superstar! 🌺👩‍🍳</p>
    </div>
  </div>
</div>
